.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
.clang-format
openhardwaremonitor/.editorconfig
/.vs/PCMonitor/FileContentIndex/1f2e51b3-2c59-4d60-9388-7fa5265065d2.vsidx
/.vs/PCMonitor/FileContentIndex/2dcc4fe3-eb18-4dbc-8dbc-4bb9ea2a0db2.vsidx
/.vs/PCMonitor/FileContentIndex/1397b80f-2e18-4a35-b910-56a6229e927b.vsidx
/.vs/PCMonitor/FileContentIndex/48ccec92-eb9b-4c80-beea-5f010bdfcd30.vsidx
/.vs/PCMonitor/FileContentIndex/656e3746-3766-4716-b320-f9a58b484bce.vsidx
/.vs/PCMonitor/FileContentIndex/aff28cd7-a488-4b39-8f33-b972a12e7aeb.vsidx
/.vs/PCMonitor/FileContentIndex/b4c2d848-92c2-4ff1-a2cb-9685cdfe7f33.vsidx
/.vs/PCMonitor/FileContentIndex/e3c565f8-e540-4c7d-b109-647deca09692.vsidx
/.vs/PCMonitor/FileContentIndex/ea01f4c0-5ce0-437a-8613-0864f17a2f48.vsidx
